# Binaries for programs and plugins
.env
*.exe
*.exe~
*.dll
*.log

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.html
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
*.code-workspace
.vscode
go.work
